@import url("https://fonts.googleapis.com/css2?family=Indie%20Flower&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");


body {
	font-family: 'Indie Flower', 'Lucida Sans Handwriting', sans-serif;
	background: linear-gradient(122deg, #488ef5 0%, #ff46f2 100%);
	background-attachment: fixed;
	margin: 0;
}

header {
	width: 100%;
	background: #a9a9a9;
	border-bottom: solid 1px #c4c4c4;
	white-space: nowrap;
}

header a {
	font-size: 36px;
}

#wrapper {
	font-family: Handlee, 'Lucida Sans Handwriting';
	background: #ffffff33;
	margin: 12px 12px 12px 12px;
	padding: 8px 8px 8px 8px;
	box-shadow: 0px 0px 4px 4px #ffffff55;
}

#wrapper label {
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	background: #a9a9a9;
	border: 1px solid #c4c4c4;
	margin-right: 4px;
	padding: 2px;
}

#wrapper a {
	margin: 0;
}

a {
	color: #fff;
	text-decoration: none;
	margin-bottom: 24px;
	margin-left: 10px;
}

a:visited {
	color: #586069;
}

a:hover {
	text-decoration: underline 1px #d3d3d3;
}
